/tests/summary/
/.coverage
/SeedProject/build/
/SeedProject/install/
/SeedProject/tests/@TestProjects/CMakePackageConsumer/build/
/SeedProject/CMakeUserPresets.json
/.codex
/SeedProject/CI/Docker/.tmp/
/SeedProject/CI/Docker/**/.tmp/
*.directory
*.pyc
*.odg#
**/.venv/
